<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="\">Trang quản trị</a>
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>
    <ul class="navbar-nav ml-auto">
        @{
            var session = (UserLogin)Session[DoAnWebSell.Common.CommonConstants.ADMIN_SESSION];
        }

        @if (session != null)
        {
            <li class="nav-item dropdown no-arrow">
                <div class="nav-link user-admin">
                    <a href="#" style="text-decoration: none;">
                        <i class="fa fa-home fa-2x"></i>
                        <span id="home">Website</span>
                    </a>
                    <a href="#" style="text-decoration: none; margin-left: 35px;">
                        <i class="fa fa-user fa-2x"></i>
                        <span id="name-admin"> @session.UserName</span>
                    </a>
                </div>
            </li>
        }
    </ul>
</nav>
