<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="\">Trang quản trị</a>
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>
    <ul class="navbar-nav ml-auto">
        @{
            var session = (UserLogin)Session[DoAnWebSell.Common.CommonConstants.ADMIN_SESSION];
        }

        @if (session != null)
        {
            <li class="nav-item dropdown no-arrow">
                <div class="nav-link user-admin">
                    <a href="/">
                        <i class="fa fa-home fa-2x"></i>
                        <span>Website</span>
                    </a>
                    <a href="/admin/user/details/@session.UserID">
                        <img src="~/assets/admin/images/user-admin.svg" width="30" />
                        <span class="user-name"> @session.Name</span>
                    </a>
                    <a href="/login/logout"><img src="~/assets/admin/images/exit-logout.svg" title="Đăng xuất" width="20"/></a>
                </div>
            </li>
        }
    </ul>
</nav>
