@model IEnumerable<Model.EF.ChiTietDatHang>

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Areas/admin/Views/Shared/_Layouts.cshtml";
}

@section header {
    Chi tiết sản phẩm
}

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" cellspacing="0">
            <thead>
                <tr style="text-align: center;">
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Tiêu đề meta title</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Giá khuyến mãi</th>
                    <th>Ảnh sản phẩm</th>
                    <th>Mô tả sản phẩm</th>
                    <th>Chi tiết sản phẩm</th>
                    <th>Thời gian bảo hành</th>
                    <th>Ngày sản xuất</th>
                    <th>Trạng thái</th>
                    <th>Ngày tạo</th>
                    <th>Tạo bởi</th>
                    <th>Danh mục sản phẩm</th>
                    <th>Nhà cung cấp</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>
