@{
    ViewBag.Title = "Giới thiệu cửa hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="product-sec1 px-sm-4 px-3 py-sm-5">
        <div class="row hearder-content">
            <div class="hearder-img col-sm-12 col-md-4">
                <img src="/assets/client/images/hot-product.gif" alt="Sản phẩm hot">
                <img src="/assets/client/images/pannel-dung-thu-mien-phi.png" alt="Sản phẩm hot">
            </div>
            <div class="hearder-title col-sm-12 col-md-8" ">
                <span class="hearder-title__label">Phần mềm thương mại điện tử đa kênh tiện lợi</span>
                <p>Tiện lợi - Dễ dùng - Tiết kiệm thời gian</p>
            </div>
        </div>
        <div class="main-content">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <img src="/assets/client/images/main-content-1.jpg" alt="Quản trị hệ thông">
                    <div class="content">
                        <h3 class="title-content">Quản trị hệ thống</h3>
                        <p>Đẩy sản phẩm lên trang web, tự bắt đơn hàng từ mọi kênh bán hàng</p>
                        <a href="" class="see-more">Xem thêm ></a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img src="/assets/client/images/main-content-2.png" alt="Phần mềm bán hàng">
                    <div class="content">
                        <h3 class="title-content">Giao diện dễ sử dụng</h3>
                        <p>Giao diện phong phú, tùy biến thông minh với nhiều tính năng</p>
                        <a href="" class="see-more">Xem thêm ></a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img src="/assets/client/images/main-content-3.png" alt="Giao hàng tận nơi">
                    <div class="content">
                        <h3 class="title-content">Dịch vụ vận chuyển</h3>
                        <p>Kết nối với các hàng vận chuyển uy tín nhất, đẩy đơn hàng từ phần mềm bán hàng sang hãng vận chuyển. Tự động cập nhập trạng thái đơn hàng</p>
                        <a href="" class="see-more">Xem thêm ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>