@model List<Model.EF.Menu>

<ul>
    <li class="text-center border-right text-white">
        <a class="play-icon popup-with-zoom-anim text-white" href="#">
            <i class="fas fa-map-marker-alt mr-2"></i>Chọn địa điểm
        </a>
    </li>
    <li class="text-center border-right text-white">
        <a href="#" data-toggle="modal" data-target="#exampleModal" class="text-white">
            <i class="fas fa-truck mr-2"></i>Theo dõi đơn hàng
        </a>
    </li>
    <li class="text-center text-white mr-4">
        <i class="fas fa-phone mr-2"></i> 001 234 5678
    </li>
    @{ 
        var session = (UserLogin)Session[DoAnWebSell.Common.CommonConstants.USER_SESSION];
    }

    @if (session == null)
    {
        foreach (var item in Model)
        {
            <li class="text-center pt-2 pb-2 btn--pypl">
                <a href="@item.Link" target="@item.Target" class="text-white">@item.Text</a>
            </li>
        }
    }
    else
    {
        <li class="font-weight-bold text-white pl-4"><i class="fas fa-user-circle"></i> @session.UserName</li>
        <li><a href="/user/logout" class="btn btn-danger" style="font-size: .8rem">Đăng xuất</a></li>
    }
</ul>